body{
    background: #e0e0e0 !important;
}

nav{
    background: #2c3e50 !important;
    color: white !important;
}

.navbar-brand{
    color: white !important;
}

.nav-link{
    color: white !important;
}

.home{
    background-color: #1abc9c !important;
    padding-top: 6rem;
    padding-bottom: 1rem;
}